@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    
  }
  body {
    margin: 0;
    font-family: "Rubik", sans-serif;
   
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header img {
      width: 250px;
   
  }

  .nav-items {
    display: flex;
    align-items: center;
  }

  .nav-items a {
    margin-left: 20px;
    text-decoration: none;
    color: #003C71;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
  }

  .nav-items a.active {
    color: #003C71;
    background-color: #FFC700;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .search-bar {
    position: relative;
    margin-left: 20px;
    transition: width 0.3s ease;
  }

  .search-bar input {
    width: 0;
    padding: 10px 40px 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: width 0.3s ease;
  }

  .search-bar.expanded input {
    width: 300px; /* Adjust as needed */
    border: 2px solid #003C71;
  }

  .search-bar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #003C71;
    cursor: pointer;
  }

  .search-bar .fa-search {
    display: block;
  }

  .search-bar .fa-times {
    display: none;
  }

  .search-bar.expanded .fa-search {
    display: none;
  }

  .search-bar.expanded .fa-times {
    display: block;
  }

  .search-bar input::placeholder {
    color: #aaa;
  }

 /* Main Navigation Styles */
.main-nav {
    background-color: #ffffff;
    padding: 10px 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow on the bottom */
  }
  

  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .main-nav ul li {
    position: relative;
  }

  .main-nav ul li a {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease;
  }

  .main-nav ul li a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #FFC700;
    transition: width 0.3s ease;
    margin: 5px auto 0;
  }

  .main-nav ul li a.active:after,
  .main-nav ul li a:hover:after {
    width: 100%;
  }

  .main-nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f8f8;
    border: 2px solid whitesmoke;
    padding: 0;
    z-index: 1000;
  }

  .main-nav ul li ul li a {
    padding: 10px 20px;
    width: 200px;
  }

  .dropdown-icon {
    margin-left: 5px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .nav-items a {
      margin-left: 10px;
      font-size: 14px;
    }

    .search-bar input {
      width: 100%;
    }

    .main-nav {
      padding: 10px;
    }

    .main-nav ul li a {
      padding: 10px;
    }

    .main-nav ul li ul li a {
      padding: 10px;
    }
  }
  .home-section {
display: flex;
margin-top: -40px;
justify-content: space-between;
align-items: center;
padding: 0px 150px;
background-color: #ffffff;
min-height: 85vh; /* Ensure it takes at least the full viewport height */
width: 100%; /* Ensure it takes the full viewport width */
box-sizing: border-box; /* Include padding in width calculation */
position: relative; /* Ensure proper positioning of child elements */
overflow: hidden; /* Ensure content does not overflow */
z-index: -1;
}



.home-text {
   
max-width: 50%;
position: relative; /* Ensure proper stacking context */
z-index: 1; /* Ensure it is above the background image */
}

.home-text h1 {
font-size: 45px;
margin: 0;
color: #0a0a0a; /* Change color to stand out against the background image */
}

.home-text p {
    margin-top: 10px;
font-size: 17px;
line-height: 0.8cm;
color: #1d1c1c; /* Change color to stand out against the background image */
}

.home-image {
    width: 100%;
    text-align: right;
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Ensure it is above the background image */
  }
  
  .home-image img {
    width: 550px;
    height: auto;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    box-shadow: 0 5px 15px rgba(13, 110, 253, 0.7); /* Adjusted for better visibility */
    border-radius: 60% 40% 30% 70% / 60% 30% 40% 70%; /* Initial border-radius state */
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out; /* Smooth transition */
  }
  
  @keyframes animate {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 40% 70%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
  

  .image-over {
    background-image: url('images/end.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100px;  /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #0056b3; /* If you want to add a color overlay */
    bottom: 0; /* Position at the bottom */
    left: 15px;   /* Position on the left */
  }
  


@media (max-width: 768px) {
.home-section {
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.home-text,
.home-image {
  max-width: 100%;
}

.home-image img {
  border-radius: 0; /* Optional: Adjust for small screens */
}
}
.image-gallery-section {
    z-index: 5;
    padding: 20px 20px;
    background-color: #FFC700;
    overflow: hidden;
    position: relative;
  }

  .image-gallery-container {
    display: flex;
    padding: 30px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .image-gallery {
    display: inline-flex;
    animation: slide 30s linear infinite;
  }

  .image-gallery img {
    height: 200px; /* Adjust height as needed */
    margin-right: 10px;
  }

  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .about-section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
  }
.background-img-about {
    background-color: rgb(233, 243, 246);
    width: 600px;
    height: 800px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 300px;
}
  .about-heading {
    margin-bottom: 40px;
    z-index: 5;
  }

  .about-heading h1 {
    z-index: 5;
    
    font-size: 32px;
    color: #003C71;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid  #F15722; /* Adds a pink underline */
    padding-bottom: 5px; /* Adjust the space between the text and underline */
  }
  

  .about-text {
    z-index: 5;
    max-width: 800px;
  }

  .about-text h2 {
   border-radius: 10px;
   color: #003C71;
    width: 50%; /* Set the width as needed */
    padding: 10px 0; /* Adjust padding for vertical and horizontal spacing */
    text-align: center;
    margin: 20px auto 10px auto; /* Center align the h2 and adjust the margins */
    font-size: 24px;
    z-index: 1; /* Ensure it appears above other elements */
  }
  
  .image-over-2 {
    background-image: url('images/21.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 200px;  /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #0056b3; /* If you want to add a color overlay */
    bottom: 0; /* Position at the bottom */
    right: 15px;   /* Position on the left */
  }
  
  .yellow-line {
    margin-top: -20px;
    border: none; /* Remove default border */
    border-top: 3px solid #F15722; /* Set the border color and thickness */
    width: 900px; /* Set the width of the line */

  }
  

  .text-container {
    margin-top: 20px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adds space between each section */
  }
  .about-text p {
    z-index: 5;
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }

  .learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #003C71;
    font-weight: bold;
    margin-bottom: 40px;
    transition: color 0.3s;
  }

  .learn-more i {
    margin-left: 5px;
    transition: transform 0.3s;
  }

  .learn-more:hover {
    color: #0056b3;
  }

  .learn-more:hover i {
    transform: translateX(5px);
  }
  .one {
    background-color: #95C92C;
  }

  .two {
    background-color: #FFC700;
  }

  .three {
    background-color: #FF688B;
  }

  .four {
    background-color:  #00BFFF;
  }

  .services-section {
    padding: 100px 150px;
   /* Adds a pink underline */
    background-color: #ffffff;
    text-align: center;
  }
  
  .services-heading {
    font-size: 36px;
    color: #003C71;
    font-weight: bold;
    margin-bottom: 70px;
    position: relative; /* Needed for positioning the ::after element */
  }
  
 
  
  
  .services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .services-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .service-image,
  .service-text {
    flex: 1;
    text-align: center;
  }
  
  .service-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 5px 5px 5px rgba(240, 229, 33, 0.5);
    transition: all 1s ease-in-out;
    animation: animate 5s ease-in-out infinite;
  }
  
  /* Using the same keyframes as for .home-image img */
  @keyframes animate {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 40% 70%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
  
  
  .service-text h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-text p {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Centering .learn-more within its parent container */

  /* Styles for .learn-more link */
  .learn-more {
    display: inline-flex;
    text-align: center;
    font-size: 16px;
    color: #003C71;
    text-decoration: none;
    font-weight: bold;
    align-items: center; /* Vertically center the text and icon */
  }
  
  
  .learn-more i {
    margin-left: 5px;
    transition: margin-left 0.3s;
  }
  
  .learn-more:hover i {
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .services-row {
      flex-direction: column;
      align-items: center;
    }
  
    .service-image,
    .service-text {
      max-width: 100%;
    }
  }
  
  .facilities-section {
    display: flex;
    align-items: center;
    padding: 20px 150px;
    background-color: #ffffff; /* Adjust background color as needed */
  }
  
  .facilities-image {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
    padding-right: 20px;
  }
  .facilities-image img {
    margin-right: -60px;
    z-index: 5;
    max-width: 800px; /* Increase the width as needed */
    max-height: 350px; /* Adjust height as needed */
    width: 100%; /* Ensure the image scales according to the container's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 10px; /* Optional: Rounded corners for the image */
    box-shadow: -5px 5px 15px rgba(42, 129, 228, 0.7); /* Light blue shadow */
  }
  
  
  .facilities-text {
    background-color: lightcyan;
    padding: 120px 40px;
    flex: 1;
    padding-left: 50px;
  }
  
  .facilities-text h1 {
    font-size: 32px;
    color: #003C71;
    
    margin-bottom: 40px;
    position: relative;
    left: 14%;
  }
  
  .facilities-text h1:after {
    content: "";
    display: block;
    width: 230px;
    height: 5px;
    background-color: #ff0099; /* Pink color for underline */
    margin-top: 5px;
  }
  
  .facilities-text p {
    font-size: 18px;
    margin-left: 14%;
    color: #333;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .facilities-section {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
  
    .facilities-image,
    .facilities-text {
      padding: 0;
    }
  
    .facilities-image {
      margin-bottom: 20px;
    }
  
    .facilities-text h1 {
      margin-bottom: 10px;
    }
  }
  
  .footer {
    background-color: whitesmoke; /* Dark blue background */
    padding: 40px 80px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-about,
  .footer-additional {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px; /* Space between sections */
  }
  
  .footer-about > div,
  .footer-additional > div {
    flex: 1;
    margin: 20px;
    padding: 0 20px;
  }
  
  .about-logo img {
    max-width: 200px; /* Adjust as needed */
    height: auto;
    border-radius: 5px; /* Optional: Rounded corners */
  }
  
  .about-address,
  .about-follow {
    margin-top: 20px;
  }
  
  .about-address h3 , 
  .about-follow h3{
    margin-bottom: 15px;
    color: #003C71;
  }
  .about-follow .social-icons {
    display: flex;
    margin-left: 120px;
    gap: 20px;
  }
  
  .about-follow .social-icons a {
    color: #003C71;
    font-size: 24px;
    text-decoration: none;
  }
  
  .about-follow .social-icons a:hover {
    color: #3148e0; /* Lighter shade on hover */
  }
  
  .footer-additional {
    background-color: whitesmoke; /* Ensure consistent background color */
    padding: 20px 0;
  }
  
  .footer-additional h3 {
    color: #003C71;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-additional p {
    margin: 0;
  }
  
  .additional-announcements {
    text-align: center;
  }
  
  .footer-additional {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-additional > div {
    flex: 1;
    margin: 20px;
  }
  
  .additional-about,
  .additional-vision,
  .additional-announcements {
    text-align: center;
  }
  
  .footer-additional .additional-announcements {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .footer-about,
    .footer-additional {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-about > div,
    .footer-additional > div {
      margin: 10px 0;
      padding: 0 10px;
    }
  
    .about-logo img {
      max-width: 150px; /* Adjust as needed */
    }
  
    .about-follow .social-icons {
      justify-content: center;
    }
  }
  
  hr {
    border: none; /* Remove default border */
    height: 2px; /* Thickness of the line */
    background-color: rgb(210, 205, 205); /* Pink color, adjust as needed */
    margin: 20px 0; /* Spacing above and below the line */
    width: 100%; /* Adjust width as needed */
    max-width: 800px; /* Max width to ensure it's not too wide */
    position: relative;
  }
  
  hr::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff007f; /* Pink color for the line */
    transition: width 0.3s ease-in-out; /* Smooth animation for hover effect */
  }
  
  hr:hover::before {
    width: 100%; /* Line expands on hover */
  }
  
  
.footer-copyright {
    text-align: center; /* Center the text horizontally */
    width: 100%;

   /* Add padding for spacing */
    background-color: #f1f1f1; /* Optional: background color for contrast */
    border-top: 1px solid #ddd; /* Optional: border on top for separation */
  }
  
  .footer-copyright p {
    margin-top: 30px;/* Remove default margin */
    color: #333; /* Adjust text color as needed */
    font-size: 14px; /* Adjust font size as needed */
  }